In [1]:
import pandas as pd
import os

In [2]:
file_location = '../AFE_data/'

In [3]:
data_files = list(filter(lambda x: 'csv' in x, os.listdir(file_location)))

In [4]:
data_files_full_path = list(map(lambda x: file_location + x,data_files))

In [5]:
data = dict(zip(data_files,map(pd.read_csv,data_files_full_path)))

In [6]:
data

{'df_actual_ern.csv':          A  19890401  1    0.07
 0        A  19890517  1  0.0000
 1        A  19890816  2 -0.0900
 2        A  19891114  3  0.0000
 3        A  19900418  1  0.0000
 4        A  19900516  1  0.0900
 5        A  19901115  3 -0.0400
 6        A  19901115  3 -0.0200
 7        A  19920403  1  0.0000
 8       AA  19830421  1 -0.0713
 9       AA  19830722  2  0.1613
 10      AA  19831021  3  0.2213
 11      AA  19840124  0  0.4463
 12      AA  19840420  1  0.4988
 13      AA  19840724  2  0.4050
 14      AA  19841023  3  0.2513
 15      AA  19850121  0 -0.0450
 16      AA  19850424  1  0.0300
 17      AA  19850722  2  0.1838
 18      AA  19851021  3  0.2550
 19      AA  19860122  0 -0.5325
 20      AA  19860418  1  0.0037
 21      AA  19860721  2  0.2363
 22      AA  19861017  3  0.1913
 23      AA  19870122  0  0.1125
 24      AA  19870417  1  0.2100
 25      AA  19870720  2 -0.2925
 26      AA  19871019  3  0.4650
 27      AA  19880122  0  0.5625
 28      AA  19880420  1  0.7575
 29      AA  19880719  2  1.0088
 ...    ...       ... ..     ...
 53710  ZRN  19910126  0  0.7100
 53711  ZRN  19910518  1  0.7000
 53712  ZRN  19910720  2  0.5100
 53713  ZRN  19911021  3  0.5300
 53714  ZRN  19920118  0  0.5100
 53715  ZRN  19920512  1  0.5000
 53716  ZRN  19920718  2  0.4500
 53717  ZRN  19921021  3  0.5000
 53718  ZRN  19930122  0  0.4500
 53719  ZRN  19930518  1  0.4700
 53720  ZRN  19930723  2  0.5300
 53721  ZRN  19931022  3  0.4600
 53722  ZRN  19940121  0  0.4000
 53723  ZRN  19940519  1  0.0800
 53724  ZRN  19940721  2  0.1600
 53725  ZRN  19941020  3  0.2000
 53726  ZRN  19950119  0  0.1100
 53727  ZRN  19950518  1  0.2200
 53728  ZRN  19950719  2  0.3800
 53729  ZRN  19951019  3  0.3300
 53730  ZRN  19960129  0  0.2800
 53731  ZRN  19960516  1  0.3600
 53732  ZRN  19960718  2  0.1800
 53733  ZRN  19961018  3  0.4400
 53734  ZRN  19970123  0  0.3900
 53735  ZRN  19970519  1  0.4100
 53736  ZRN  19970724  2  0.5000
 53737  ZRN  19971023  3  0.6300
 53738  ZRN  19980123  0  0.5900
 53739  ZRN  19980528  1  0.5000

 [53740 rows x 4 columns],
 'df_aforecast.csv':         00VP  20151231  3   79876     0.34
 0       00VP  20161231  3  149615   1.5500
 1       00VP  20161231  3  149615   1.4900
 2       00VP  20161231  3   10258   1.8500
 3       00VP  20161231  3   10258   1.1400
 4       00VP  20161231  3  147369   1.4000
 5       00VP  20161231  3   57785   1.3000
 6       00VP  20161231  3  147369   1.3800
 7       00VP  20171231  3    2084   1.5200
 8       00VP  20171231  3   57785   1.5300
 9       01AB  20170930  2  181871   9.2800
 10      01AB  20170930  2  110812   9.2700
 11      01AB  20170930  2   17980   9.1900
 12      01AF  20161231  3  114449  14.8740
 13      01AF  20161231  3   76852  -1.0600
 14      01AF  20161231  3   73367  -0.7500
 15      01AF  20161231  3  114449  15.3160
 16      01AF  20161231  3  109116  -1.3000
 17      01AF  20161231  3  109116  -1.1900
 18      01AF  20161231  3  125794  -1.2500
 19      01AF  20161231  3  114449  15.0710
 20      01AF  20161231  3   73367  -0.7300
 21      01AF  20171231  3  115441   1.4300
 22      01AF  20171231  3   73867   2.3500
 23      01AF  20171231  3  127695   2.3700
 24      01AF  20171231  3  162807   2.8500
 25      01AF  20171231  3  125794   2.8400
 26        AA  19961231  3    3700   4.3125
 27        AA  19961231  3     281   4.1250
 28        AA  19961231  3    4088   3.1875
 29        AA  19971231  3     662   3.0000
 ...      ...       ... ..     ...      ...
 125103    ZY  20150131  0    1950   3.0980
 125104    ZY  20150131  0  109412   3.1600
 125105    ZY  20150131  0  111066   3.2800
 125106    ZY  20150131  0  111066   3.2000
 125107    ZY  20150131  0  109412   3.1100
 125108    ZY  20160131  0  111066   3.5800
 125109    ZY  20160131  0  109412   3.2500
 125110    ZY  20160131  0  148731   3.2800
 125111    ZY  20160131  0   92303   3.2600
 125112    ZY  20160131  0  115583   3.2900
 125113    ZY  20160131  0  111066   3.5700
 125114    ZY  20160131  0  109412   3.2700
 125115    ZY  20160131  0  148731   3.2900
 125116    ZY  20160131  0  111066   3.5500
 125117    ZY  20160131  0  146109   3.3500
 125118    ZY  20160131  0  111066   3.8500
 125119    ZY  20160131  0  115583   3.2600
 125120    ZY  20170131  0  111066   3.6500
 125121    ZY  20170131  0  109412   3.2700
 125122    ZY  20170131  0  183070   3.4700
 125123    ZY  20170131  0  148731   3.4800
 125124    ZY  20170131  0  115583   3.4600
 125125    ZY  20170131  0  148731   3.5000
 125126    ZY  20170131  0  115995   3.5400
 125127    ZY  20170131  0  115583   3.4400
 125128    ZY  20170131  0  109412   3.3300
 125129    ZY  20170131  0   80450   3.4400
 125130    ZY  20180131  0  137194   4.0400
 125131    ZY  20180131  0   80450   3.8600
 125132    ZY  20180131  0  109412   3.8500

 [125133 rows x 5 columns],
 'df_prc_dist.csv':        Unnamed: 0 TICKER   ANNDATS  quarternum       -30       -29       -28  \
 0               0     AA  19830421           1  0.992218  1.015564  1.023346
 1               1     AA  19830722           2  0.960245  0.948012  0.954128
 2               2     AA  19831021           3  1.011111  1.027778  1.033333
 3               3     AA  19840124           0       NaN       NaN  1.008403
 4               4     AA  19840420           1  1.159722  1.142361  1.142361
 5               5     AA  19840724           2       NaN  1.003876  1.019380
 6               6     AA  19841023           3       NaN  0.953237  0.956835
 7               7     AA  19850121           0       NaN       NaN  0.970395
 8               8     AA  19850424           1  1.034884  1.042636  1.062016
 9               9     AA  19850722           2       NaN       NaN  0.937500
 10             10     AA  19851021           3       NaN       NaN  1.038760
 11             11     AA  19860122           0  1.019672  1.032787       NaN
 12             12     AA  19860418           1  1.017964  1.023952  1.020958
 13             13     AA  19860721           2       NaN       NaN  1.128571
 14             14     AA  19861017           3  1.077465  1.077465  1.091549
 15             15     AA  19870122           0  0.860317  0.857143       NaN
 16             16     AA  19870417           1  0.948370  0.951087  0.970109
 17             17     AA  19870720           2       NaN       NaN  0.946903
 18             18     AA  19871019           3       NaN       NaN  1.376471
 19             19     AA  19880122           0  1.184751  1.187683       NaN
 20             20     AA  19880420           1  1.005510  0.991736  0.983471
 21             21     AA  19880719           2       NaN  0.953488  0.965116
 22             22     AA  19881018           3       NaN  0.922902  0.922902
 23             23     AA  19890119           0  0.902041  0.887755  0.883673
 24             24     AA  19890417           1       NaN       NaN  0.944773
 25             25     AA  19890719           2  0.983240  0.983240  0.983240
 26             26     AA  19891016           3       NaN       NaN  1.025773
 27             27     AA  19900119           0  1.104563  1.108365  1.114068
 28             28     AA  19900416           1       NaN       NaN  1.050096
 29             29     AA  19900716           2       NaN       NaN  0.942238
 ...           ...    ...       ...         ...       ...       ...       ...
 31171       31171    ZRN  19880722           2  0.923913  0.896739  0.913043
 31172       31172    ZRN  19881020           3  0.877193  0.890351  0.907895
 31173       31173    ZRN  19890118           0  1.013636  1.013636  1.018182
 31174       31174    ZRN  19890520           1  0.934959  0.943089  0.947154
 31175       31175    ZRN  19890726           2  0.880117  0.883041  0.871345
 31176       31176    ZRN  19891023           3       NaN       NaN  0.987382
 31177       31177    ZRN  19900121           0       NaN       NaN       NaN
 31178       31178    ZRN  19900515           1       NaN  0.923913  0.940217
 31179       31179    ZRN  19900721           2  0.974619  0.982234  0.974619
 31180       31180    ZRN  19901020           3  1.149425  1.095785  1.065134
 31181       31181    ZRN  19910126           0  1.022989  1.022989  1.034483
 31182       31182    ZRN  19910518           1  0.954386  0.961404  0.982456
 31183       31183    ZRN  19910720           2  0.954098  0.944262  0.947541
 31184       31184    ZRN  19911021           3       NaN       NaN  0.951557
 31185       31185    ZRN  19920118           0  0.850340  0.829932  0.840136
 31186       31186    ZRN  19920512           1       NaN  1.030651  1.065134
 31187       31187    ZRN  19920718           2  0.986957  0.995652  1.000000
 31188       31188    ZRN  19921021           3  0.980237  0.976285  0.976285
 31189       31189    ZRN  19930122           0  0.993399  1.016502       NaN
 31190       31190    ZRN  19930518           1       NaN  0.970684  0.973941
 31191       31191    ZRN  19930723           2  0.973282  0.969466  0.984733
 31192       31192    ZRN  19931022           3  1.175926  1.175926  1.175926
 31193       31193    ZRN  19940121           0  0.933036  0.919643       NaN
 31194       31194    ZRN  19940519           1  0.988304  0.994152  1.005848
 31195       31195    ZRN  19940721           2  1.075000  1.087500  1.025000
 31196       31196    ZRN  19941020           3  1.041096  1.027397  1.020548
 31197       31197    ZRN  19950119           0  0.900662  0.887417  0.927152
 31198       31198    ZRN  19950518           1  1.045752  1.058824  1.045752
 31199       31199    ZRN  19950719           2  0.930233  0.930233  0.941860
 31200       31200    ZRN  19951019           3  1.014925  1.009950  1.009950

             -27       -26       -25   ...        21      22      23      24  \
 0      1.000000       NaN       NaN   ...    35.500  35.500     NaN     NaN
 1           NaN       NaN  0.926606   ...    40.625     NaN     NaN  41.375
 2           NaN       NaN  1.033333   ...    44.375     NaN     NaN  43.750
 3      1.005602  1.008403  1.005602   ...    38.500  38.875  39.250  39.000
 4      1.142361       NaN       NaN   ...    35.125  34.125     NaN     NaN
 5      1.034884  1.042636  1.054264   ...    37.500  36.250  36.000  36.750
 6      0.967626  0.974820  0.949640   ...    36.750  36.500  36.000  35.375
 7           NaN  0.967105  0.963816   ...    38.875  39.000  39.125  38.750
 8      1.058140  1.062016       NaN   ...    33.000  32.875  33.625     NaN
 9      0.923611  0.930556  0.947917   ...    33.750  34.000  34.125  34.750
 10     1.038760  1.038760  1.034884   ...    34.500  34.500  33.750  34.000
 11     1.036066  1.039344       NaN   ...    45.375  44.625  44.500     NaN
 12          NaN       NaN  1.035928   ...    40.250     NaN     NaN  39.625
 13     1.128571  1.103571  1.107143   ...    36.000  36.750  36.750  37.000
 14          NaN       NaN  1.091549   ...    36.000     NaN     NaN  35.625
 15     0.857143       NaN       NaN   ...    43.000  44.125     NaN     NaN
 16     0.967391       NaN       NaN   ...    51.750  51.750     NaN     NaN
 17     0.938053  0.924779  0.938053   ...    61.375  62.500  61.750  60.375
 18     1.411765  1.429412  1.467647   ...    42.625  42.375  42.000  43.750
 19          NaN       NaN  1.131965   ...    44.625     NaN     NaN     NaN
 20     0.950413  0.931129       NaN   ...    43.250  43.750  44.125     NaN
 21     0.990698  0.981395  0.981395   ...    51.875  49.500  49.375  48.750
 22     0.916100  0.911565  0.925170   ...    54.375  53.625  53.125  51.625
 23     0.889796       NaN       NaN   ...    63.375  61.500     NaN     NaN
 24     0.936884  0.919132  0.911243   ...    62.500  62.125  62.250  62.125
 25     0.979516  1.027933       NaN   ...    73.500  73.500  71.625     NaN
 26     1.030928  1.020619  1.022337   ...    68.250  68.375  69.125  68.375
 27          NaN       NaN       NaN   ...    62.250     NaN     NaN  61.125
 28     1.036609  1.026975  1.013487   ...    63.500  64.000  63.500  63.500
 29     0.938628  0.953069  0.953069   ...    62.375  63.000  63.750  64.250
 ...         ...       ...       ...   ...       ...     ...     ...     ...
 31171       NaN       NaN  0.891304   ...    21.625     NaN     NaN  21.625
 31172  0.894737       NaN       NaN   ...    26.625  26.250     NaN     NaN
 31173  1.009091  1.013636       NaN   ...    28.375  28.000  28.000     NaN
 31174       NaN       NaN  0.939024   ...    36.375     NaN     NaN  36.875
 31175  0.853801  0.836257       NaN   ...    40.625  39.875  39.500     NaN
 31176  0.993691  1.009464  1.059937   ...    38.500  38.500  38.625  39.250
 31177  1.016722  1.050167  1.056856   ...    37.750  37.375  37.375  37.125
 31178  0.918478  0.918478  0.907609   ...    48.750  48.375  47.500  46.500
 31179       NaN       NaN  0.967005   ...    45.375     NaN     NaN  45.500
 31180       NaN       NaN  1.015326   ...    32.750     NaN     NaN  33.000
 31181       NaN       NaN  1.072797   ...    39.125     NaN     NaN     NaN
 31182       NaN       NaN  0.961404   ...    36.625     NaN     NaN  36.125
 31183       NaN       NaN  0.944262   ...    38.375     NaN     NaN  39.250
 31184  0.941176  0.899654  0.927336   ...    34.000  34.375  34.000  34.125
 31185       NaN       NaN  0.840136   ...    34.875     NaN     NaN  34.875
 31186  1.076628  1.080460       NaN   ...    30.625  30.625  30.375  30.625
 31187       NaN       NaN  1.013043   ...    30.125     NaN     NaN  29.750
 31188  0.976285  0.972332       NaN   ...    37.125  36.750  37.500     NaN
 31189       NaN       NaN  1.013201   ...    37.750     NaN     NaN     NaN
 31190  0.970684  0.967427  0.964169   ...    31.875  32.125  32.375  32.375
 31191       NaN       NaN  0.984733   ...    32.375     NaN     NaN  32.250
 31192       NaN       NaN  1.171296   ...    29.000     NaN     NaN  28.375
 31193       NaN       NaN  0.941964   ...    28.875     NaN     NaN  29.000
 31194  0.988304       NaN       NaN   ...    21.125  21.375     NaN     NaN
 31195  0.981250       NaN       NaN   ...    17.375  17.250     NaN     NaN
 31196  1.034247       NaN       NaN   ...    17.750  17.375     NaN     NaN
 31197  0.927152       NaN       NaN   ...    18.250  18.250     NaN     NaN
 31198  1.045752       NaN       NaN   ...    19.125  19.750     NaN     NaN
 31199  0.953488  0.953488       NaN   ...    21.250  21.000  20.875     NaN
 31200  1.000000       NaN       NaN   ...    25.250  24.875     NaN     NaN

            25      26      27      28      29      30
 0      34.625  34.250  34.500  34.625  35.000     NaN
 1      41.500  43.375  42.625  43.625     NaN     NaN
 2      43.750  43.750  43.125  42.250     NaN     NaN
 3         NaN     NaN     NaN  38.375  37.750  37.250
 4      33.250  33.125  33.000  32.750  32.625     NaN
 5         NaN     NaN  36.250  37.750  37.750  38.125
 6         NaN     NaN  35.375  35.250  35.875     NaN
 7      38.125     NaN     NaN     NaN  38.125  37.875
 8         NaN  34.125  34.000  33.375  32.375  32.375
 9      35.000     NaN     NaN  35.250  35.500  34.875
 10     33.750     NaN     NaN  33.625  33.625  34.000
 11        NaN     NaN  44.750  43.750  43.875  45.750
 12     39.000  38.875  38.000  38.125     NaN     NaN
 13     37.375     NaN     NaN  37.750  36.500  36.250
 14     35.500  35.500  35.500  35.375     NaN     NaN
 15        NaN  45.000  43.875  43.375  43.750     NaN
 16     50.875  51.500  51.500  51.375  50.875     NaN
 17     60.250     NaN     NaN  61.625  59.750  58.750
 18     44.625     NaN     NaN  45.125  44.000  44.375
 19     46.500  45.625  44.875  45.250     NaN     NaN
 20        NaN  45.375  44.500  43.750  43.375  43.250
 21        NaN     NaN  47.875  48.000  48.250  47.875
 22        NaN     NaN  51.625  51.250  51.000  51.125
 23     61.375  61.250  61.125  62.000  63.000     NaN
 24     64.250     NaN     NaN  67.250  67.000  66.875
 25        NaN  71.250  72.250  73.125  73.250  74.500
 26     68.750     NaN     NaN  68.250  68.250  68.875
 27     60.500  60.875  61.500  62.750     NaN     NaN
 28     64.250     NaN     NaN  64.500  65.000  64.625
 29     63.250     NaN     NaN  63.875  64.375  64.750
 ...       ...     ...     ...     ...     ...     ...
 31171  21.625  21.625  21.625  21.500     NaN     NaN
 31172  26.000  26.000  25.750  25.750  25.750     NaN
 31173     NaN  27.875  27.000  26.750  26.000  26.250
 31174  36.500  36.500  36.000  35.875     NaN     NaN
 31175     NaN  38.375  38.000  39.375  40.375  40.625
 31176  39.125     NaN     NaN  38.875  38.750  39.000
 31177  37.500     NaN     NaN     NaN  36.625  37.250
 31178     NaN     NaN  46.000  46.750  47.250  47.250
 31179  45.750  46.750  46.500  45.125     NaN     NaN
 31180  33.250  33.250  33.125  33.500     NaN     NaN
 31181  38.875  38.000  37.375  37.375     NaN     NaN
 31182  36.000  35.875  36.125  36.250     NaN     NaN
 31183  39.125  39.000  39.000  38.875     NaN     NaN
 31184  34.500     NaN     NaN  34.375  34.000  34.250
 31185  34.750  34.875  34.750  34.500     NaN     NaN
 31186     NaN     NaN  29.375  28.875  29.500  29.125
 31187  29.750  30.375  30.500  30.875     NaN     NaN
 31188     NaN  36.875  37.000  36.250  36.000  36.500
 31189  37.500  37.000  35.875  36.375     NaN     NaN
 31190     NaN     NaN  32.375  31.625  31.875  31.875
 31191  32.000  31.375  31.875  31.750     NaN     NaN
 31192  28.125  27.750  27.875  27.625     NaN     NaN
 31193  28.750  29.375  29.125  28.625     NaN     NaN
 31194  21.125  21.375  21.125  21.875  21.250     NaN
 31195  17.250  17.250  17.125  17.000  17.125     NaN
 31196  17.500  17.625  17.500  17.375  17.000     NaN
 31197  18.250  18.375  18.375  18.000  18.125     NaN
 31198  20.000  20.250  20.250  20.250  20.250     NaN
 31199     NaN  20.750  21.000  21.000  21.125  21.500
 31200  24.875  25.125  24.875  24.625  24.000     NaN

 [31201 rows x 65 columns]}

In [11]:
sp500 = pd.read_csv('/home/jasonmellone/Documents/nyu/DSQF/analyst_forecast/sp500stocks_70_16.csv')

            BIDLO
date
1970/01/02    427
1970/01/05    427
1970/01/06    427
1970/01/07    427
1970/01/08    427
1970/01/09    428
1970/01/12    428
1970/01/13    428
1970/01/14    428
1970/01/15    428
1970/01/16    428
1970/01/19    428
1970/01/20    428
1970/01/21    427
1970/01/22    428
1970/01/23    428
1970/01/26    428
1970/01/27    428
1970/01/28    428
1970/01/29    428
1970/01/30    429
1970/02/02    429
1970/02/03    429
1970/02/04    429
1970/02/05    429
1970/02/06    429
1970/02/09    430
1970/02/10    430
1970/02/11    430
1970/02/12    430
...           ...
2016/11/17    673
2016/11/18    673
2016/11/21    673
2016/11/22    673
2016/11/23    673
2016/11/25    673
2016/11/28    673
2016/11/29    672
2016/11/30    672
2016/12/01    672
2016/12/02    673
2016/12/05    673
2016/12/06    673
2016/12/07    674
2016/12/08    674
2016/12/09    674
2016/12/12    674
2016/12/13    674
2016/12/14    674
2016/12/15    674
2016/12/16    674
2016/12/19    674
2016/12/20    674
2016/12/21    674
2016/12/22    674
2016/12/23    674
2016/12/27    674
2016/12/28    674
2016/12/29    674
2016/12/30    674

[11860 rows x 1 columns]

In [13]:
sp500.groupby('date').agg({'BIDLO':'count'}).tail()

            BIDLO
date
2016/12/23    674
2016/12/27    674
2016/12/28    674
2016/12/29    674
2016/12/30    674