In [1]:
import pandas as pd
import os

In [3]:
file_location = '/home/jasonmellone/Documents/nyu/DSQF/analyst_forecast/'

In [17]:
# data_files = list(filter(lambda x: 'csv' in x, os.listdir(file_location)))

In [18]:
# data_files_full_path = list(map(lambda x: file_location + x,data_files))

In [32]:
# data = dict(zip(data_files,map(pd.read_csv,data_files_full_path)))

In [20]:
# data

In [31]:
# sp500 = pd.read_csv(file_location + 'AFE_data/data/clean_cons_70_17.csv')

<h2>Read in S&P constituent returns, and remove dates not existing in SPX index returns</h2>

In [30]:
spx_returns = pd.read_csv(file_location + 'SPX.csv',index_col=0)

In [8]:
sp500_constituent_returns = None
sp500_constituent_returns = pd.read_csv(file_location +'AFE_data/data/crsp_sp500_1970_2016.csv')
sp500_constituent_returns.date = pd.to_datetime(sp500_constituent_returns.date, format='%Y%m%d')
sp500_constituent_returns = sp500_constituent_returns[sp500_constituent_returns.date.isin(spx_returns.index)]

sp500_constituent_returns.to_pickle(file_location +'AFE_data/data/crsp_sp500_1970_2016_dates_cleaned.p')

<h2>Read in cleaned, unindexed IBES data</h2>

In [ ]:
# FPEDATS: Forecast Period End Date (needs to equal datadate; the end of the quarter)

In [28]:
ibes_estimates = pd.read_csv(file_location +  'AFE_data/ibes/clean_estimates.csv')
ibes_estimates.ACTDATS = pd.to_datetime(ibes_estimates.ACTDATS,format='%Y%m%d')
ibes_estimates.FPEDATS = pd.to_datetime(ibes_estimates.FPEDATS,format='%Y%m%d')

In [29]:
ibes_actuals = pd.read_csv(file_location +  'AFE_data/ibes/clean_actuals.csv')
ibes_actuals.ACTDATS = pd.to_datetime(ibes_actuals.ACTDATS,format='%Y%m%d')
ibes_actuals.ANNDATS = pd.to_datetime(ibes_actuals.ANNDATS,format='%Y%m%d')

In [33]:
ibes_estimates

,Unnamed: 0,OFTIC,TICKER,CUSIP,CNAME,ACTDATS,ANALYS,FPI,MEASURE,VALUE,FPEDATS,quarternum
0,0,FDC,00VP,32008D10,FIRST DATA,2016-01-14,79876,1,EPS,0.3400,2015-12-31,3
1,1,FDC,00VP,32008D10,FIRST DATA,2016-02-12,149615,1,EPS,1.5500,2016-12-31,3
2,2,FDC,00VP,32008D10,FIRST DATA,2016-04-19,149615,1,EPS,1.4900,2016-12-31,3
3,3,FDC,00VP,32008D10,FIRST DATA,2016-04-25,10258,1,EPS,1.8500,2016-12-31,3
4,4,FDC,00VP,32008D10,FIRST DATA,2016-04-25,10258,1,EPS,1.1400,2016-12-31,3
5,5,FDC,00VP,32008D10,FIRST DATA,2016-08-01,147369,1,EPS,1.4000,2016-12-31,3
6,6,FDC,00VP,32008D10,FIRST DATA,2016-09-14,57785,1,EPS,1.3000,2016-12-31,3
7,7,FDC,00VP,32008D10,FIRST DATA,2016-10-11,147369,1,EPS,1.3800,2016-12-31,3
8,8,FDC,00VP,32008D10,FIRST DATA,2017-02-13,2084,1,EPS,1.5200,2017-12-31,3
9,9,FDC,00VP,32008D10,FIRST DATA,2017-03-10,57785,1,EPS,1.5300,2017-12-31,3
10,10,ADNT,01AB,G0084W10,ADIENT,2017-04-20,181871,1,EPS,9.2800,2017-09-30,2
11,11,ADNT,01AB,G0084W10,ADIENT,2017-04-20,110812,1,EPS,9.2700,2017-09-30,2
12,12,ADNT,01AB,G0084W10,ADIENT,2017-04-21,17980,1,EPS,9.1900,2017-09-30,2
13,13,AA,01AF,01387210,ALCOA CORP,2016-11-28,114449,1,EPS,14.8740,2016-12-31,3
14,14,AA,01AF,01387210,ALCOA CORP,2016-12-20,76852,1,EPS,-1.0600,2016-12-31,3
15,15,AA,01AF,01387210,ALCOA CORP,2016-12-22,73367,1,EPS,-0.7500,2016-12-31,3
16,16,AA,01AF,01387210,ALCOA CORP,2016-12-23,114449,1,EPS,15.3160,2016-12-31,3
17,17,AA,01AF,01387210,ALCOA CORP,2017-01-13,109116,1,EPS,-1.3000,2016-12-31,3
18,18,AA,01AF,01387210,ALCOA CORP,2017-01-19,109116,1,EPS,-1.1900,2016-12-31,3
19,19,AA,01AF,01387210,ALCOA CORP,2017-01-19,125794,1,EPS,-1.2500,2016-12-31,3
20,20,AA,01AF,01387210,ALCOA CORP,2017-01-20,114449,1,EPS,15.0710,2016-12-31,3
21,21,AA,01AF,01387210,ALCOA CORP,2017-01-20,73367,1,EPS,-0.7300,2016-12-31,3
22,22,AA,01AF,01387210,ALCOA CORP,2017-02-14,115441,1,EPS,1.4300,2017-12-31,3
23,23,AA,01AF,01387210,ALCOA CORP,2017-03-21,73867,1,EPS,2.3500,2017-12-31,3
24,24,AA,01AF,01387210,ALCOA CORP,2017-03-24,127695,1,EPS,2.3700,2017-12-31,3
25,25,AA,01AF,01387210,ALCOA CORP,2017-04-10,162807,1,EPS,2.8500,2017-12-31,3
26,26,AA,01AF,01387210,ALCOA CORP,2017-04-18,125794,1,EPS,2.8400,2017-12-31,3
27,27,AA,AA,02224910,ALCOA,1996-01-16,3700,1,EPS,4.3125,1996-12-31,3
28,28,AA,AA,02224910,ALCOA,1996-02-05,281,1,EPS,4.1250,1996-12-31,3
29,29,AA,AA,02224910,ALCOA,1996-07-26,4088,1,EPS,3.1875,1996-12-31,3
...,...,...,...,...,...,...,...,...,...,...,...,...
125104,125104,TJX,ZY,87254010,TJX COS INC,2014-08-19,1950,1,EPS,3.0980,2015-01-31,0
125105,125105,TJX,ZY,87254010,TJX COS INC,2014-08-25,109412,1,EPS,3.1600,2015-01-31,0
125106,125106,TJX,ZY,87254010,TJX COS INC,2014-10-31,111066,1,EPS,3.2800,2015-01-31,0
125107,125107,TJX,ZY,87254010,TJX COS INC,2014-11-20,111066,1,EPS,3.2000,2015-01-31,0
125108,125108,TJX,ZY,87254010,TJX COS INC,2014-11-21,109412,1,EPS,3.1100,2015-01-31,0
125109,125109,TJX,ZY,87254010,TJX COS INC,2015-03-12,111066,1,EPS,3.5800,2016-01-31,0
125110,125110,TJX,ZY,87254010,TJX COS INC,2015-03-16,109412,1,EPS,3.2500,2016-01-31,0
125111,125111,TJX,ZY,87254010,TJX COMPANIES,2015-03-27,148731,1,EPS,3.2800,2016-01-31,0
125112,125112,TJX,ZY,87254010,TJX COMPANIES,2015-05-19,92303,1,EPS,3.2600,2016-01-31,0
125113,125113,TJX,ZY,87254010,TJX COMPANIES,2015-05-20,115583,1,EPS,3.2900,2016-01-31,0
125114,125114,TJX,ZY,87254010,TJX COMPANIES,2015-05-21,111066,1,EPS,3.5700,2016-01-31,0
125115,125115,TJX,ZY,87254010,TJX COMPANIES,2015-06-08,109412,1,EPS,3.2700,2016-01-31,0
125116,125116,TJX,ZY,87254010,TJX COMPANIES,2015-08-10,148731,1,EPS,3.2900,2016-01-31,0
125117,125117,TJX,ZY,87254010,TJX COMPANIES,2015-08-19,111066,1,EPS,3.5500,2016-01-31,0
125118,125118,TJX,ZY,87254010,TJX COMPANIES,2015-08-21,146109,1,EPS,3.3500,2016-01-31,0
125119,125119,TJX,ZY,87254010,TJX COMPANIES,2015-09-03,111066,1,EPS,3.8500,2016-01-31,0
125120,125120,TJX,ZY,87254010,TJX COMPANIES,2015-11-17,115583,1,EPS,3.2600,2016-01-31,0
125121,125121,TJX,ZY,87254010,TJX COMPANIES,2016-03-03,111066,1,EPS,3.6500,2017-01-31,0
125122,125122,TJX,ZY,87254010,TJX COMPANIES,2016-03-04,109412,1,EPS,3.2700,2017-01-31,0
125123,125123,TJX,ZY,87254010,TJX COMPANIES,2016-04-03,183070,1,EPS,3.4700,2017-01-31,0
125124,125124,TJX,ZY,87254010,TJX COMPANIES,2016-05-09,148731,1,EPS,3.4800,2017-01-31,0
125125,125125,TJX,ZY,87254010,TJX COMPANIES,2016-05-17,115583,1,EPS,3.4600,2017-01-31,0
125126,125126,TJX,ZY,87254010,TJX COMPANIES,2016-05-23,148731,1,EPS,3.5000,2017-01-31,0
125127,125127,TJX,ZY,87254010,TJX,2016-06-27,115995,1,EPS,3.5400,2017-01-31,0
125128,125128,TJX,ZY,87254010,TJX,2016-08-16,115583,1,EPS,3.4400,2017-01-31,0
125129,125129,TJX,ZY,87254010,TJX,2016-09-02,109412,1,EPS,3.3300,2017-01-31,0
125130,125130,TJX,ZY,87254010,TJX,2016-10-17,80450,1,EPS,3.4400,2017-01-31,0
125131,125131,TJX,ZY,87254010,TJX,2017-02-23,137194,1,EPS,4.0400,2018-01-31,0
125132,125132,TJX,ZY,87254010,TJX,2017-02-23,80450,1,EPS,3.8600,2018-01-31,0
125133,125133,TJX,ZY,87254010,TJX,2017-04-20,109412,1,EPS,3.8500,2018-01-31,0