# Conditioning on Analyst Surprise

In [165]:
import pandas as pd
import numpy as np
# import stats as sts 
import matplotlib.pyplot as plt

In [166]:
%matplotlib inline

In [167]:
#read analyst actuals file
column_names1 = ['TICKER','ANNDATS','quarternum','earn_value']
df_actual_ern=pd.read_csv("../AFE_data/df_actual_ern.csv", header = None, names = column_names1)
#df_actual_ern = pd.read_csv('/Users/Blair/Downloads/AFE_data/df_actual_ern.csv')
#read analyst forecast file
column_names2 = ['TICKER','ANNDATS','quarternum','analyst','forecast_value']
df_aforcast=pd.read_csv("../AFE_data/df_aforecast.csv", header = None, names = column_names2)
#df_aforecast = pd.read_csv('/Users/Blair/Downloads/AFE_data/df_aforecast.csv')

In [168]:
df_aforcast.head()

  TICKER   ANNDATS  quarternum  analyst  forecast_value
0     AA  20110331           0    73367            0.57
1     AA  20110630           1   130416            1.08
2     AA  20111231           3   146094            0.51
3     AA  20111231           3   146094            0.21
4     AA  20120331           0    48907           -0.03

In [169]:
#Set Year
df_actual_ern['year'] = df_actual_ern['ANNDATS'].apply(lambda x: str(x)[:4])

df_aforcast['year'] = df_aforcast['ANNDATS'].apply(lambda x: str(x)[:4])

In [170]:
#Merge two datasets
merged = pd.merge(df_aforcast,df_actual_ern,how = 'inner', on = ['TICKER','quarternum','year'])
merged

,TICKER,ANNDATS_x,quarternum,analyst,forecast_value,year,ANNDATS_y,earn_value
0,AA,20110331,0,73367,0.570,2011,20110110,0.63
1,AA,20110630,1,130416,1.080,2011,20110411,0.84
2,AA,20111231,3,146094,0.510,2011,20111011,0.42
3,AA,20111231,3,146094,0.210,2011,20111011,0.42
4,AA,20120331,0,48907,-0.030,2012,20120109,-0.09
5,AA,20120630,1,48907,0.600,2012,20120410,0.30
6,AA,20120930,2,73867,0.030,2012,20120709,0.18
7,AA,20120930,2,49831,0.000,2012,20120709,0.18
8,AA,20121231,3,49831,0.540,2012,20121009,0.09
9,AA,20130331,0,73867,0.180,2013,20130108,0.18
10,AA,20130630,1,131893,0.540,2013,20130408,0.33
11,AA,20130930,2,22282,0.030,2013,20130708,0.21
12,AA,20130930,2,73867,0.360,2013,20130708,0.21
13,AA,20130930,2,73867,0.300,2013,20130708,0.21
14,AA,20140331,0,73867,0.120,2014,20140109,0.12
15,AA,20140331,0,84007,-0.060,2014,20140109,0.12
16,AA,20140930,2,122030,0.510,2014,20140708,0.54
17,AA,20150331,0,119644,0.840,2015,20150112,0.99
18,AA,20150630,1,156230,0.810,2015,20150408,0.84
19,AA,20151231,3,124721,0.420,2015,20151008,0.21
20,AA,20151231,3,183539,0.210,2015,20151008,0.21
21,AA,20160331,0,127695,-0.030,2016,20160111,0.12
22,AA,20160630,1,114449,0.111,2016,20160411,0.21
23,AA,20160630,1,76852,0.360,2016,20160411,0.21
24,AA,20160630,1,114449,0.213,2016,20160411,0.21
25,AA,20160930,2,114449,0.093,2016,20160711,0.45
26,AA,20160930,2,114449,0.117,2016,20160711,0.45
27,AA,20160930,2,73367,0.070,2016,20160711,0.45
28,AA,20161231,3,97236,0.253,2016,20161011,0.32
29,AA,20161231,3,18826,0.240,2016,20161011,0.32
...,...,...,...,...,...,...,...,...
11451,ZION,20131231,3,9792,-1.670,2013,20131021,0.44
11452,ZION,20131231,3,143702,0.140,2013,20131021,0.44
11453,ZION,20131231,3,143702,-1.980,2013,20131021,0.44
11454,ZION,20131231,3,86880,-1.950,2013,20131021,0.44
11455,ZION,20131231,3,80474,-1.910,2013,20131021,0.44
11456,ZION,20131231,3,9909,-1.930,2013,20131021,0.44
11457,ZION,20131231,3,77416,-1.680,2013,20131021,0.44
11458,ZION,20131231,3,114319,0.414,2013,20131021,0.44
11459,ZION,20131231,3,56692,-1.730,2013,20131021,0.44
11460,ZION,20131231,3,143702,-1.990,2013,20131021,0.44
11461,ZION,20131231,3,155576,-1.760,2013,20131021,0.44
11462,ZION,20131231,3,82230,-0.310,2013,20131021,0.44
11463,ZION,20131231,3,143702,-0.320,2013,20131021,0.44
11464,ZION,20131231,3,113163,-0.330,2013,20131021,0.44
11465,ZION,20131231,3,155576,-0.330,2013,20131021,0.44
11466,ZION,20131231,3,80474,-0.320,2013,20131021,0.44
11467,ZION,20131231,3,86880,-0.320,2013,20131021,0.44
11468,ZION,20140331,0,82230,0.490,2014,20140127,0.45
11469,ZION,20140331,0,114319,0.397,2014,20140127,0.45
11470,ZION,20140331,0,86880,0.640,2014,20140127,0.45
11471,ZION,20140331,0,79092,0.620,2014,20140127,0.45
11472,ZION,20140331,0,56645,0.400,2014,20140127,0.45
11473,ZION,20140331,0,9792,0.650,2014,20140127,0.45
11474,ZION,20140630,1,82230,0.520,2014,20140421,0.41
11475,ZION,20140630,1,114319,0.447,2014,20140421,0.41
11476,ZION,20140630,1,56645,0.420,2014,20140421,0.41
11477,ZION,20140630,1,159771,0.453,2014,20140421,0.41
11478,ZION,20150630,1,159771,-0.004,2015,20150420,0.37
11479,ZION,20150930,2,130019,0.310,2015,20150720,0.41
11480,ZION,20170630,1,179399,0.620,2017,20170424,0.61

## Surprise Matrics

In [171]:
#Surprise Matrics

merged.index = merged[['TICKER', 'year','quarternum']]

df=merged.reset_index()
merged['meadian']=df.groupby('index').forecast_value.median()
merged['mean']=df.groupby('index').forecast_value.mean()
merged['std']=df.groupby('index').forecast_value.std()
merged['delta_mm']=merged['meadian']-merged['mean']

In [172]:
merged.head()

,TICKER,ANNDATS_x,quarternum,analyst,forecast_value,year,ANNDATS_y,earn_value,meadian,mean,std,delta_mm
"(AA, 2011, 0)",AA,20110331,0,73367,0.57,2011,20110110,0.63,0.57,0.57,NaN,0.0
"(AA, 2011, 1)",AA,20110630,1,130416,1.08,2011,20110411,0.84,1.08,1.08,NaN,0.0
"(AA, 2011, 3)",AA,20111231,3,146094,0.51,2011,20111011,0.42,0.36,0.36,0.212132,0.0
"(AA, 2011, 3)",AA,20111231,3,146094,0.21,2011,20111011,0.42,0.36,0.36,0.212132,0.0
"(AA, 2012, 0)",AA,20120331,0,48907,-0.03,2012,20120109,-0.09,-0.03,-0.03,NaN,0.0

In [173]:
#Median forecast - actual
merged['surprise_median_fa']=(merged['meadian']-merged['earn_value'])/merged['std']
#Mean forecast - actual
merged['surprise_mean_fa']=(merged['mean']-merged['earn_value'])/merged['std']

## Distribution metrics

In [174]:
#the skewness of the distribution:median_mean
merged['skew']=merged['delta_mm']/merged['delta_mm'].std()
#the kurtosis of the distribution
df=merged.reset_index()
merged['kurtosis']=df.groupby('index').forecast_value.median()

In [175]:
merged.head()

,TICKER,ANNDATS_x,quarternum,analyst,forecast_value,year,ANNDATS_y,earn_value,meadian,mean,std,delta_mm,surprise_median_fa,surprise_mean_fa,skew,kurtosis
"(AA, 2011, 0)",AA,20110331,0,73367,0.57,2011,20110110,0.63,0.57,0.57,NaN,0.0,NaN,NaN,0.0,0.57
"(AA, 2011, 1)",AA,20110630,1,130416,1.08,2011,20110411,0.84,1.08,1.08,NaN,0.0,NaN,NaN,0.0,1.08
"(AA, 2011, 3)",AA,20111231,3,146094,0.51,2011,20111011,0.42,0.36,0.36,0.212132,0.0,-0.282843,-0.282843,0.0,0.36
"(AA, 2011, 3)",AA,20111231,3,146094,0.21,2011,20111011,0.42,0.36,0.36,0.212132,0.0,-0.282843,-0.282843,0.0,0.36
"(AA, 2012, 0)",AA,20120331,0,48907,-0.03,2012,20120109,-0.09,-0.03,-0.03,NaN,0.0,NaN,NaN,0.0,-0.03

In [176]:
merged['kurtosis'].describe()

count    11481.000000
mean         0.761401
std          1.359862
min         -5.703750
25%          0.282500
50%          0.595000
75%          1.045000
max         28.350000
Name: kurtosis, dtype: float64

In [177]:
# Windows specific causes issues on linux

# merged['kurtosis'].hist(bins=100)
# plt.axvline(3, color='r')
# plt.text(15, 8000, 'leptokurtic')
# plt.text(-5, 14000,'platykurtic')

In [178]:
merged['skew'].describe()

count    11481.000000
mean         0.003659
std          1.000000
min        -18.607740
25%         -0.018385
50%          0.000000
75%          0.025126
max         35.376313
Name: skew, dtype: float64

### How do your pre-post earnings price time series from the previous section look as a function of conditioning on different values of the surprise metrics (and distribution metrics) above?

In [179]:
#This part need to combine with previous work

# Train Predictive Models

## Stylized surprise metrics dataset

### You will use as input the different metrics of the analyst distribution and its surprise metrics that you calculated for every earnings event in the previous section. As output variable you will use a categorical variable y which is 1 every time the 10-day post-earnings stock return is in the top 10% or bottom 10% for the given quarter.

In [180]:
#read daily price file
df_prc_dist=pd.read_csv("../AFE_data/df_prc_dist.csv")
#set year
df_prc_dist['year'] = df_prc_dist['ANNDATS'].apply(lambda x: str(x)[:4])

In [181]:
#Build the new dataset to calculate the 10 days return
df_prc_dist['delta_return']=df_prc_dist['10']-df_prc_dist['0']
df_prc_dist1=df_prc_dist[['delta_return','TICKER','quarternum','year']]
df_prc_dist1.head()

   delta_return TICKER  quarternum  year
0       -0.0181   ABBV           1  2013
1       -0.0018   ABBV           2  2013
2       -0.0258   ABBV           3  2013
3        0.0305   ABBV           0  2014
4        0.0635   ABBV           1  2014

In [182]:
#Build stylized surprise metrics dataset
suprised_df = pd.DataFrame()
suprised_df['surprise_median_fa']=merged['surprise_median_fa']
suprised_df['surprise_mean_fa']=merged['surprise_mean_fa']
suprised_df['TICKER']=merged['TICKER']
suprised_df['year']=merged['year']
suprised_df['quarternum']=merged['quarternum']
suprised_df['Skew']=merged['skew']
suprised_df['Kurtosis']=merged['kurtosis']
suprised_df1 = pd.merge(suprised_df,df_prc_dist1,how = 'inner', on = ['TICKER','quarternum','year'])
suprised_df1.index = suprised_df1[['TICKER', 'year','quarternum']]

In [183]:
suprised_df1_q0=suprised_df1.loc[suprised_df1['quarternum'] == 0]
suprised_df1_q1=suprised_df1.loc[suprised_df1['quarternum'] == 1]
suprised_df1_q2=suprised_df1.loc[suprised_df1['quarternum'] == 2]
suprised_df1_q3=suprised_df1.loc[suprised_df1['quarternum'] == 3]

In [184]:
suprised_df1_q0=suprised_df1_q0.sort_values(["delta_return"],ascending=True)
bottom10_q0=suprised_df1_q0["delta_return"].quantile(0.1)
top10_q0=suprised_df1_q0["delta_return"].quantile(0.9)

In [185]:
print(bottom10_q0)
print(top10_q0)

-0.045799999999999993
0.09916000000000001

In [186]:
suprised_df1_q0['Y'] = np.where((suprised_df1_q0['delta_return']>=70.37)|(suprised_df1_q0['delta_return']<=15.73), '1', '0')

In [187]:
suprised_df1_q1=suprised_df1_q1.sort_values(["delta_return"],ascending=True)
bottom10_q1=suprised_df1_q1["delta_return"].quantile(0.1)
top10_q1=suprised_df1_q1["delta_return"].quantile(0.9)

In [188]:
print(bottom10_q1)
print(top10_q1)

-0.04349999999999998
0.06806000000000004

In [189]:
suprised_df1_q1['Y'] = np.where((suprised_df1_q1['delta_return']>=80.315)|(suprised_df1_q1['delta_return']<=20.875), '1', '0')

In [190]:
suprised_df1_q2=suprised_df1_q2.sort_values(["delta_return"],ascending=True)
bottom10_q2=suprised_df1_q2["delta_return"].quantile(0.1)
top10_q2=suprised_df1_q2["delta_return"].quantile(0.9)

In [191]:
print(bottom10_q2)
print(top10_q2)

-0.12009999999999998
0.05489999999999995

In [192]:
suprised_df1_q2['Y'] = np.where((suprised_df1_q2['delta_return']>=106.16)|(suprised_df1_q2['delta_return']<=19.86), '1', '0')

In [193]:
suprised_df1_q3=suprised_df1_q3.sort_values(["delta_return"],ascending=True)
bottom10_q3=suprised_df1_q3["delta_return"].quantile(0.1)
top10_q3=suprised_df1_q3["delta_return"].quantile(0.9)

In [194]:
print(bottom10_q3)
print(top10_q3)

-0.04590000000000005
0.08258000000000018

In [195]:
suprised_df1_q3['Y'] = np.where((suprised_df1_q3['delta_return']>=98.18)|(suprised_df1_q3['delta_return']<=16.14), '1', '0')

In [196]:
suprised_df1_new = pd.concat([suprised_df1_q0, suprised_df1_q1, suprised_df1_q2, suprised_df1_q3], axis=0)
suprised_df1_new.head()

,surprise_median_fa,surprise_mean_fa,TICKER,year,quarternum,Skew,Kurtosis,delta_return,Y
"(MSFT, 2015, 0)",-4.062651,-4.007161,MSFT,2015,0,-0.012011,0.545,-0.0989,1
"(MSFT, 2015, 0)",-4.062651,-4.007161,MSFT,2015,0,-0.012011,0.545,-0.0989,1
"(MSFT, 2015, 0)",-4.062651,-4.007161,MSFT,2015,0,-0.012011,0.545,-0.0989,1
"(MSFT, 2015, 0)",-4.062651,-4.007161,MSFT,2015,0,-0.012011,0.545,-0.0989,1
"(MSFT, 2015, 0)",-4.062651,-4.007161,MSFT,2015,0,-0.012011,0.545,-0.0989,1

## Full distribution dataset.

â—‹	Your input features are 
â– 	The relative proportions of number analysts in each of the 10 quantiles of the forecast distribution. The sum of these proportions should be 1
â– 	The total number of analysts in this distribution
â– 	The standard deviation of this distribution
â– 	The full range of the distribution, e.g the max_forecast-min_forecast
â– 	The actual earning announcement value
â—‹	The output feature y is again 1 every time the 10-day post-earnings stock return is in the top 10% or bottom 10% of the given quarter.

In [197]:
superised_df2=merged

In [198]:
merged

,TICKER,ANNDATS_x,quarternum,analyst,forecast_value,year,ANNDATS_y,earn_value,meadian,mean,std,delta_mm,surprise_median_fa,surprise_mean_fa,skew,kurtosis
"(AA, 2011, 0)",AA,20110331,0,73367,0.570,2011,20110110,0.63,0.570,0.570000,NaN,0.000000,NaN,NaN,0.000000,0.570
"(AA, 2011, 1)",AA,20110630,1,130416,1.080,2011,20110411,0.84,1.080,1.080000,NaN,0.000000,NaN,NaN,0.000000,1.080
"(AA, 2011, 3)",AA,20111231,3,146094,0.510,2011,20111011,0.42,0.360,0.360000,0.212132,0.000000,-0.282843,-0.282843,0.000000,0.360
"(AA, 2011, 3)",AA,20111231,3,146094,0.210,2011,20111011,0.42,0.360,0.360000,0.212132,0.000000,-0.282843,-0.282843,0.000000,0.360
"(AA, 2012, 0)",AA,20120331,0,48907,-0.030,2012,20120109,-0.09,-0.030,-0.030000,NaN,0.000000,NaN,NaN,0.000000,-0.030
"(AA, 2012, 1)",AA,20120630,1,48907,0.600,2012,20120410,0.30,0.600,0.600000,NaN,0.000000,NaN,NaN,0.000000,0.600
"(AA, 2012, 2)",AA,20120930,2,73867,0.030,2012,20120709,0.18,0.015,0.015000,0.021213,0.000000,-7.778175,-7.778175,0.000000,0.015
"(AA, 2012, 2)",AA,20120930,2,49831,0.000,2012,20120709,0.18,0.015,0.015000,0.021213,0.000000,-7.778175,-7.778175,0.000000,0.015
"(AA, 2012, 3)",AA,20121231,3,49831,0.540,2012,20121009,0.09,0.540,0.540000,NaN,0.000000,NaN,NaN,0.000000,0.540
"(AA, 2013, 0)",AA,20130331,0,73867,0.180,2013,20130108,0.18,0.180,0.180000,NaN,0.000000,NaN,NaN,0.000000,0.180
"(AA, 2013, 1)",AA,20130630,1,131893,0.540,2013,20130408,0.33,0.540,0.540000,NaN,0.000000,NaN,NaN,0.000000,0.540
"(AA, 2013, 2)",AA,20130930,2,22282,0.030,2013,20130708,0.21,0.300,0.230000,0.175784,0.070000,0.511992,0.113776,0.300284,0.300
"(AA, 2013, 2)",AA,20130930,2,73867,0.360,2013,20130708,0.21,0.300,0.230000,0.175784,0.070000,0.511992,0.113776,0.300284,0.300
"(AA, 2013, 2)",AA,20130930,2,73867,0.300,2013,20130708,0.21,0.300,0.230000,0.175784,0.070000,0.511992,0.113776,0.300284,0.300
"(AA, 2014, 0)",AA,20140331,0,73867,0.120,2014,20140109,0.12,0.030,0.030000,0.127279,0.000000,-0.707107,-0.707107,0.000000,0.030
"(AA, 2014, 0)",AA,20140331,0,84007,-0.060,2014,20140109,0.12,0.030,0.030000,0.127279,0.000000,-0.707107,-0.707107,0.000000,0.030
"(AA, 2014, 2)",AA,20140930,2,122030,0.510,2014,20140708,0.54,0.510,0.510000,NaN,0.000000,NaN,NaN,0.000000,0.510
"(AA, 2015, 0)",AA,20150331,0,119644,0.840,2015,20150112,0.99,0.840,0.840000,NaN,0.000000,NaN,NaN,0.000000,0.840
"(AA, 2015, 1)",AA,20150630,1,156230,0.810,2015,20150408,0.84,0.810,0.810000,NaN,0.000000,NaN,NaN,0.000000,0.810
"(AA, 2015, 3)",AA,20151231,3,124721,0.420,2015,20151008,0.21,0.315,0.315000,0.148492,0.000000,0.707107,0.707107,0.000000,0.315
"(AA, 2015, 3)",AA,20151231,3,183539,0.210,2015,20151008,0.21,0.315,0.315000,0.148492,0.000000,0.707107,0.707107,0.000000,0.315
"(AA, 2016, 0)",AA,20160331,0,127695,-0.030,2016,20160111,0.12,-0.030,-0.030000,NaN,0.000000,NaN,NaN,0.000000,-0.030
"(AA, 2016, 1)",AA,20160630,1,114449,0.111,2016,20160411,0.21,0.213,0.228000,0.125176,-0.015000,0.023966,0.143798,-0.064347,0.213
"(AA, 2016, 1)",AA,20160630,1,76852,0.360,2016,20160411,0.21,0.213,0.228000,0.125176,-0.015000,0.023966,0.143798,-0.064347,0.213
"(AA, 2016, 1)",AA,20160630,1,114449,0.213,2016,20160411,0.21,0.213,0.228000,0.125176,-0.015000,0.023966,0.143798,-0.064347,0.213
"(AA, 2016, 2)",AA,20160930,2,114449,0.093,2016,20160711,0.45,0.093,0.093333,0.023502,-0.000333,-15.190343,-15.176160,-0.001430,0.093
"(AA, 2016, 2)",AA,20160930,2,114449,0.117,2016,20160711,0.45,0.093,0.093333,0.023502,-0.000333,-15.190343,-15.176160,-0.001430,0.093
"(AA, 2016, 2)",AA,20160930,2,73367,0.070,2016,20160711,0.45,0.093,0.093333,0.023502,-0.000333,-15.190343,-15.176160,-0.001430,0.093
"(AA, 2016, 3)",AA,20161231,3,97236,0.253,2016,20161011,0.32,0.245,0.285750,0.121060,-0.040750,-0.619525,-0.282916,-0.174808,0.245
"(AA, 2016, 3)",AA,20161231,3,18826,0.240,2016,20161011,0.32,0.245,0.285750,0.121060,-0.040750,-0.619525,-0.282916,-0.174808,0.245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(ZION, 2013, 3)",ZION,20131231,3,9792,-1.670,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,143702,0.140,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,143702,-1.980,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,86880,-1.950,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,80474,-1.910,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,9909,-1.930,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,77416,-1.680,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,114319,0.414,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,56692,-1.730,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,143702,-1.990,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,155576,-1.760,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,82230,-0.310,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,143702,-0.320,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,113163,-0.330,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,155576,-0.330,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,80474,-0.320,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2013, 3)",ZION,20131231,3,86880,-0.320,2013,20131021,0.44,-1.670,-1.009333,0.937610,-0.660667,-2.250402,-1.545773,-2.834109,-1.670
"(ZION, 2014, 0)",ZION,20140331,0,82230,0.490,2014,20140127,0.45,0.555,0.532833,0.118946,0.022167,0.882753,0.696394,0.095090,0.555
"(ZION, 2014, 0)",ZION,20140331,0,114319,0.397,2014,20140127,0.45,0.555,0.532833,0.118946,0.022167,0.882753,0.696394,0.095090,0.555
"(ZION, 2014, 0)",ZION,20140331,0,86880,0.640,2014,20140127,0.45,0.555,0.532833,0.118946,0.022167,0.882753,0.696394,0.095090,0.555
"(ZION, 2014, 0)",ZION,20140331,0,79092,0.620,2014,20140127,0.45,0.555,0.532833,0.118946,0.022167,0.882753,0.696394,0.095090,0.555
"(ZION, 2014, 0)",ZION,20140331,0,56645,0.400,2014,20140127,0.45,0.555,0.532833,0.118946,0.022167,0.882753,0.696394,0.095090,0.555
"(ZION, 2014, 0)",ZION,20140331,0,9792,0.650,2014,20140127,0.45,0.555,0.532833,0.118946,0.022167,0.882753,0.696394,0.095090,0.555
"(ZION, 2014, 1)",ZION,20140630,1,82230,0.520,2014,20140421,0.41,0.450,0.460000,0.042497,-0.010000,0.941242,1.176552,-0.042898,0.450
"(ZION, 2014, 1)",ZION,20140630,1,114319,0.447,2014,20140421,0.41,0.450,0.460000,0.042497,-0.010000,0.941242,1.176552,-0.042898,0.450
"(ZION, 2014, 1)",ZION,20140630,1,56645,0.420,2014,20140421,0.41,0.450,0.460000,0.042497,-0.010000,0.941242,1.176552,-0.042898,0.450
"(ZION, 2014, 1)",ZION,20140630,1,159771,0.453,2014,20140421,0.41,0.450,0.460000,0.042497,-0.010000,0.941242,1.176552,-0.042898,0.450
"(ZION, 2015, 1)",ZION,20150630,1,159771,-0.004,2015,20150420,0.37,-0.004,-0.004000,NaN,0.000000,NaN,NaN,0.000000,-0.004
"(ZION, 2015, 2)",ZION,20150930,2,130019,0.310,2015,20150720,0.41,0.310,0.310000,NaN,0.000000,NaN,NaN,0.000000,0.310
"(ZION, 2017, 1)",ZION,20170630,1,179399,0.620,2017,20170424,0.61,0.620,0.620000,NaN,0.000000,NaN,NaN,0.000000,0.620

In [201]:
# del superised_df2['skew']
# del superised_df2['kurtosis']
# del superised_df2['surprise_median_fa']
# del superised_df2['surprise_mean_fa']
# del superised_df2['ANNDATS_y']
# del superised_df2['delta_mm']
# del superised_df2['meadian']
# del superised_df2['mean']
# #del superised_df2['std']
# del superised_df2['ANNDATS_x']

superised_df2 = superised_df2[['TICKER', 'quarternum', 'analyst', 'forecast_value', 'year',
       'earn_value', 'std']]

In [202]:
# The total number of analysts in this distribution
superised_df2['Analyst_Counts'] = superised_df2.groupby(superised_df2.index)['analyst'].transform('count')

In [203]:
# The total number of analysts in this distribution
superised_df2.head()

,TICKER,quarternum,analyst,forecast_value,year,earn_value,std,Analyst_Counts
"(AA, 2011, 0)",AA,0,73367,0.57,2011,0.63,NaN,1
"(AA, 2011, 1)",AA,1,130416,1.08,2011,0.84,NaN,1
"(AA, 2011, 3)",AA,3,146094,0.51,2011,0.42,0.212132,2
"(AA, 2011, 3)",AA,3,146094,0.21,2011,0.42,0.212132,2
"(AA, 2012, 0)",AA,0,48907,-0.03,2012,-0.09,NaN,1

In [204]:
#The relative proportions of number analysts in each of the 10 quantiles of the forecast distribution. The sum of these proportions should be 1

#superised_df2["forecast_value"].quantile(0.1)

In [209]:
#The standard deviation of this distribution
superised_df2['std']=superised_df2.groupby(superised_df2.index).forecast_value.std()

In [210]:
#The full range of the distribution, e.g the max_forecast-min_forecast 

superised_df2_mm=superised_df2.reset_index()
superised_df2['Max']=superised_df2_mm.groupby('index').forecast_value.max()
superised_df2['Min']=superised_df2_mm.groupby('index').forecast_value.min()
superised_df2['the max_forecast-min_forecast']=(superised_df2['Max']-superised_df2['Min'])
#del superised_df2['Max']
#del superised_df2['Min']

In [227]:
unique_earnings_events = superised_df2[superised_df2.Analyst_Counts>1.][['TICKER','year','quarternum']].drop_duplicates().as_matrix()

In [377]:
df_outputs = []
j = 0.
for earnings_event in unique_earnings_events:
    print(j,len(unique_earnings_events))
    j+=1.
    
    filter_df = superised_df2[(superised_df2.TICKER==earnings_event[0]) & 
                 (superised_df2.year==earnings_event[1])& 
                 (superised_df2.quarternum==earnings_event[2])]

#     qs, bins = pd.qcut(filter_df.forecast_value,10,retbins=True)
    
    col = 'forecast_value'
    output = {}
    step=10

#     step=10
    for i in range(0,100,step):
        bins = [filter_df.forecast_value.quantile(i/100.),filter_df.forecast_value.quantile((i+step)/100.)]
        ct = filter_df[(filter_df.forecast_value>=bins[0]) & (filter_df.forecast_value<=bins[1])].shape[0]    
        output['quantile_forecast_value_count_' + str(i)] = float(ct)
        
        temp = pd.DataFrame([output],index=filter_df.index.unique())
        div = float(temp.sum(axis=1))
        
        temp = temp/div
        
        df_outputs.append(temp)

0.0 1988
1.0 1988
2.0 1988
3.0 1988
4.0 1988
5.0 1988
6.0 1988
7.0 1988
8.0 1988
9.0 1988
10.0 1988
11.0 1988
12.0 1988
13.0 1988
14.0 1988
15.0 1988
16.0 1988
17.0 1988
18.0 1988
19.0 1988
20.0 1988
21.0 1988
22.0 1988
23.0 1988
24.0 1988
25.0 1988
26.0 1988
27.0 1988
28.0 1988
29.0 1988
30.0 1988
31.0 1988
32.0 1988
33.0 1988
34.0 1988
35.0 1988
36.0 1988
37.0 1988
38.0 1988
39.0 1988
40.0 1988
41.0 1988
42.0 1988
43.0 1988
44.0 1988
45.0 1988
46.0 1988
47.0 1988
48.0 1988
49.0 1988
50.0 1988
51.0 1988
52.0 1988
53.0 1988
54.0 1988
55.0 1988
56.0 1988
57.0 1988
58.0 1988
59.0 1988
60.0 1988
61.0 1988
62.0 1988
63.0 1988
64.0 1988
65.0 1988
66.0 1988
67.0 1988
68.0 1988
69.0 1988
70.0 1988
71.0 1988
72.0 1988
73.0 1988
74.0 1988
75.0 1988
76.0 1988
77.0 1988
78.0 1988
79.0 1988
80.0 1988
81.0 1988
82.0 1988
83.0 1988
84.0 1988
85.0 1988
86.0 1988
87.0 1988
88.0 1988
89.0 1988
90.0 1988
91.0 1988
92.0 1988
93.0 1988
94.0 1988
95.0 1988
96.0 1988
97.0 1988
98.0 1988
99.0 1988
100.0 1988
101.0 1988
102.0 1988
103.0 1988
104.0 1988
105.0 1988
106.0 1988
107.0 1988
108.0 1988
109.0 1988
110.0 1988
111.0 1988
112.0 1988
113.0 1988
114.0 1988
115.0 1988
116.0 1988
117.0 1988
118.0 1988
119.0 1988
120.0 1988
121.0 1988
122.0 1988
123.0 1988
124.0 1988
125.0 1988
126.0 1988
127.0 1988
128.0 1988
129.0 1988
130.0 1988
131.0 1988
132.0 1988
133.0 1988
134.0 1988
135.0 1988
136.0 1988
137.0 1988
138.0 1988
139.0 1988
140.0 1988
141.0 1988
142.0 1988
143.0 1988
144.0 1988
145.0 1988
146.0 1988
147.0 1988
148.0 1988
149.0 1988
150.0 1988
151.0 1988
152.0 1988
153.0 1988
154.0 1988
155.0 1988
156.0 1988
157.0 1988
158.0 1988
159.0 1988
160.0 1988
161.0 1988
162.0 1988
163.0 1988
164.0 1988
165.0 1988
166.0 1988
167.0 1988
168.0 1988
169.0 1988
170.0 1988
171.0 1988
172.0 1988
173.0 1988
174.0 1988
175.0 1988
176.0 1988
177.0 1988
178.0 1988
179.0 1988
180.0 1988
181.0 1988
182.0 1988
183.0 1988
184.0 1988
185.0 1988
186.0 1988
187.0 1988
188.0 1988
189.0 1988
190.0 1988
191.0 1988
192.0 1988
193.0 1988
194.0 1988
195.0 1988
196.0 1988
197.0 1988
198.0 1988
199.0 1988
200.0 1988
201.0 1988
202.0 1988
203.0 1988
204.0 1988
205.0 1988
206.0 1988
207.0 1988
208.0 1988
209.0 1988
210.0 1988
211.0 1988
212.0 1988
213.0 1988
214.0 1988
215.0 1988
216.0 1988
217.0 1988
218.0 1988
219.0 1988
220.0 1988
221.0 1988
222.0 1988
223.0 1988
224.0 1988
225.0 1988
226.0 1988
227.0 1988
228.0 1988
229.0 1988
230.0 1988
231.0 1988
232.0 1988
233.0 1988
234.0 1988
235.0 1988
236.0 1988
237.0 1988
238.0 1988
239.0 1988
240.0 1988
241.0 1988
242.0 1988
243.0 1988
244.0 1988
245.0 1988
246.0 1988
247.0 1988
248.0 1988
249.0 1988
250.0 1988
251.0 1988
252.0 1988
253.0 1988
254.0 1988
255.0 1988
256.0 1988
257.0 1988
258.0 1988
259.0 1988
260.0 1988
261.0 1988
262.0 1988
263.0 1988
264.0 1988
265.0 1988
266.0 1988
267.0 1988
268.0 1988
269.0 1988
270.0 1988
271.0 1988
272.0 1988
273.0 1988
274.0 1988
275.0 1988
276.0 1988
277.0 1988
278.0 1988
279.0 1988
280.0 1988
281.0 1988
282.0 1988
283.0 1988
284.0 1988
285.0 1988
286.0 1988
287.0 1988
288.0 1988
289.0 1988
290.0 1988
291.0 1988
292.0 1988
293.0 1988
294.0 1988
295.0 1988
296.0 1988
297.0 1988
298.0 1988
299.0 1988
300.0 1988
301.0 1988
302.0 1988
303.0 1988
304.0 1988
305.0 1988
306.0 1988
307.0 1988
308.0 1988
309.0 1988
310.0 1988
311.0 1988
312.0 1988
313.0 1988
314.0 1988
315.0 1988
316.0 1988
317.0 1988
318.0 1988
319.0 1988
320.0 1988
321.0 1988
322.0 1988
323.0 1988
324.0 1988
325.0 1988
326.0 1988
327.0 1988
328.0 1988
329.0 1988
330.0 1988
331.0 1988
332.0 1988
333.0 1988
334.0 1988
335.0 1988
336.0 1988
337.0 1988
338.0 1988
339.0 1988
340.0 1988
341.0 1988
342.0 1988
343.0 1988
344.0 1988
345.0 1988
346.0 1988
347.0 1988
348.0 1988
349.0 1988
350.0 1988
351.0 1988
352.0 1988
353.0 1988
354.0 1988
355.0 1988
356.0 1988
357.0 1988
358.0 1988
359.0 1988
360.0 1988
361.0 1988
362.0 1988
363.0 1988
364.0 1988
365.0 1988
366.0 1988
367.0 1988
368.0 1988
369.0 1988
370.0 1988
371.0 1988
372.0 1988
373.0 1988
374.0 1988
375.0 1988
376.0 1988
377.0 1988
378.0 1988
379.0 1988
380.0 1988
381.0 1988
382.0 1988
383.0 1988
384.0 1988
385.0 1988
386.0 1988
387.0 1988
388.0 1988
389.0 1988
390.0 1988
391.0 1988
392.0 1988
393.0 1988
394.0 1988
395.0 1988
396.0 1988
397.0 1988
398.0 1988
399.0 1988
400.0 1988
401.0 1988
402.0 1988
403.0 1988
404.0 1988
405.0 1988
406.0 1988
407.0 1988
408.0 1988
409.0 1988
410.0 1988
411.0 1988
412.0 1988
413.0 1988
414.0 1988
415.0 1988
416.0 1988
417.0 1988
418.0 1988
419.0 1988
420.0 1988
421.0 1988
422.0 1988
423.0 1988
424.0 1988
425.0 1988
426.0 1988
427.0 1988
428.0 1988
429.0 1988
430.0 1988
431.0 1988
432.0 1988
433.0 1988
434.0 1988
435.0 1988
436.0 1988
437.0 1988
438.0 1988
439.0 1988
440.0 1988
441.0 1988
442.0 1988
443.0 1988
444.0 1988
445.0 1988
446.0 1988
447.0 1988
448.0 1988
449.0 1988
450.0 1988
451.0 1988
452.0 1988
453.0 1988
454.0 1988
455.0 1988
456.0 1988
457.0 1988
458.0 1988
459.0 1988
460.0 1988
461.0 1988
462.0 1988
463.0 1988
464.0 1988
465.0 1988
466.0 1988
467.0 1988
468.0 1988
469.0 1988
470.0 1988
471.0 1988
472.0 1988
473.0 1988
474.0 1988
475.0 1988
476.0 1988
477.0 1988
478.0 1988
479.0 1988
480.0 1988
481.0 1988
482.0 1988
483.0 1988
484.0 1988
485.0 1988
486.0 1988
487.0 1988
488.0 1988
489.0 1988
490.0 1988
491.0 1988
492.0 1988
493.0 1988
494.0 1988
495.0 1988
496.0 1988
497.0 1988
498.0 1988
499.0 1988
500.0 1988
501.0 1988
502.0 1988
503.0 1988
504.0 1988
505.0 1988
506.0 1988
507.0 1988
508.0 1988
509.0 1988
510.0 1988
511.0 1988
512.0 1988
513.0 1988
514.0 1988
515.0 1988
516.0 1988
517.0 1988
518.0 1988
519.0 1988
520.0 1988
521.0 1988
522.0 1988
523.0 1988
524.0 1988
525.0 1988
526.0 1988
527.0 1988
528.0 1988
529.0 1988
530.0 1988
531.0 1988
532.0 1988
533.0 1988
534.0 1988
535.0 1988
536.0 1988
537.0 1988
538.0 1988
539.0 1988
540.0 1988
541.0 1988
542.0 1988
543.0 1988
544.0 1988
545.0 1988
546.0 1988
547.0 1988
548.0 1988
549.0 1988
550.0 1988
551.0 1988
552.0 1988
553.0 1988
554.0 1988
555.0 1988
556.0 1988
557.0 1988
558.0 1988
559.0 1988
560.0 1988
561.0 1988
562.0 1988
563.0 1988
564.0 1988
565.0 1988
566.0 1988
567.0 1988
568.0 1988
569.0 1988
570.0 1988
571.0 1988
572.0 1988
573.0 1988
574.0 1988
575.0 1988
576.0 1988
577.0 1988
578.0 1988
579.0 1988
580.0 1988
581.0 1988
582.0 1988
583.0 1988
584.0 1988
585.0 1988
586.0 1988
587.0 1988
588.0 1988
589.0 1988
590.0 1988
591.0 1988
592.0 1988
593.0 1988
594.0 1988
595.0 1988
596.0 1988
597.0 1988
598.0 1988
599.0 1988
600.0 1988
601.0 1988
602.0 1988
603.0 1988
604.0 1988
605.0 1988
606.0 1988
607.0 1988
608.0 1988
609.0 1988
610.0 1988
611.0 1988
612.0 1988
613.0 1988
614.0 1988
615.0 1988
616.0 1988
617.0 1988
618.0 1988
619.0 1988
620.0 1988
621.0 1988
622.0 1988
623.0 1988
624.0 1988
625.0 1988
626.0 1988
627.0 1988
628.0 1988
629.0 1988
630.0 1988
631.0 1988
632.0 1988
633.0 1988
634.0 1988
635.0 1988
636.0 1988
637.0 1988
638.0 1988
639.0 1988
640.0 1988
641.0 1988
642.0 1988
643.0 1988
644.0 1988
645.0 1988
646.0 1988
647.0 1988
648.0 1988
649.0 1988
650.0 1988
651.0 1988
652.0 1988
653.0 1988
654.0 1988
655.0 1988
656.0 1988
657.0 1988
658.0 1988
659.0 1988
660.0 1988
661.0 1988
662.0 1988
663.0 1988
664.0 1988
665.0 1988
666.0 1988
667.0 1988
668.0 1988
669.0 1988
670.0 1988
671.0 1988
672.0 1988
673.0 1988
674.0 1988
675.0 1988
676.0 1988
677.0 1988
678.0 1988
679.0 1988
680.0 1988
681.0 1988
682.0 1988
683.0 1988
684.0 1988
685.0 1988
686.0 1988
687.0 1988
688.0 1988
689.0 1988
690.0 1988
691.0 1988
692.0 1988
693.0 1988
694.0 1988
695.0 1988
696.0 1988
697.0 1988
698.0 1988
699.0 1988
700.0 1988
701.0 1988
702.0 1988
703.0 1988
704.0 1988
705.0 1988
706.0 1988
707.0 1988
708.0 1988
709.0 1988
710.0 1988
711.0 1988
712.0 1988
713.0 1988
714.0 1988
715.0 1988
716.0 1988
717.0 1988
718.0 1988
719.0 1988
720.0 1988
721.0 1988
722.0 1988
723.0 1988
724.0 1988
725.0 1988
726.0 1988
727.0 1988
728.0 1988
729.0 1988
730.0 1988
731.0 1988
732.0 1988
733.0 1988
734.0 1988
735.0 1988
736.0 1988
737.0 1988
738.0 1988
739.0 1988
740.0 1988
741.0 1988
742.0 1988
743.0 1988
744.0 1988
745.0 1988
746.0 1988
747.0 1988
748.0 1988
749.0 1988
750.0 1988
751.0 1988
752.0 1988
753.0 1988
754.0 1988
755.0 1988

756.0 1988
757.0 1988
758.0 1988
759.0 1988
760.0 1988
761.0 1988
762.0 1988
763.0 1988
764.0 1988
765.0 1988
766.0 1988
767.0 1988
768.0 1988
769.0 1988
770.0 1988
771.0 1988
772.0 1988
773.0 1988
774.0 1988
775.0 1988
776.0 1988
777.0 1988
778.0 1988
779.0 1988
780.0 1988
781.0 1988
782.0 1988
783.0 1988
784.0 1988
785.0 1988
786.0 1988
787.0 1988
788.0 1988
789.0 1988
790.0 1988
791.0 1988
792.0 1988
793.0 1988
794.0 1988
795.0 1988
796.0 1988
797.0 1988
798.0 1988
799.0 1988
800.0 1988
801.0 1988
802.0 1988
803.0 1988
804.0 1988
805.0 1988
806.0 1988
807.0 1988
808.0 1988
809.0 1988
810.0 1988
811.0 1988
812.0 1988
813.0 1988
814.0 1988
815.0 1988
816.0 1988
817.0 1988
818.0 1988
819.0 1988
820.0 1988
821.0 1988
822.0 1988
823.0 1988
824.0 1988
825.0 1988
826.0 1988
827.0 1988
828.0 1988
829.0 1988
830.0 1988
831.0 1988
832.0 1988
833.0 1988
834.0 1988
835.0 1988
836.0 1988
837.0 1988
838.0 1988
839.0 1988
840.0 1988
841.0 1988
842.0 1988
843.0 1988
844.0 1988
845.0 1988
846.0 1988
847.0 1988
848.0 1988
849.0 1988
850.0 1988
851.0 1988
852.0 1988
853.0 1988
854.0 1988
855.0 1988
856.0 1988
857.0 1988
858.0 1988
859.0 1988
860.0 1988
861.0 1988
862.0 1988
863.0 1988
864.0 1988
865.0 1988
866.0 1988
867.0 1988
868.0 1988
869.0 1988
870.0 1988
871.0 1988
872.0 1988
873.0 1988
874.0 1988
875.0 1988
876.0 1988
877.0 1988
878.0 1988
879.0 1988
880.0 1988
881.0 1988
882.0 1988
883.0 1988
884.0 1988
885.0 1988
886.0 1988
887.0 1988
888.0 1988
889.0 1988
890.0 1988
891.0 1988
892.0 1988
893.0 1988
894.0 1988
895.0 1988
896.0 1988
897.0 1988
898.0 1988
899.0 1988
900.0 1988
901.0 1988
902.0 1988
903.0 1988
904.0 1988
905.0 1988
906.0 1988
907.0 1988
908.0 1988
909.0 1988
910.0 1988
911.0 1988
912.0 1988
913.0 1988
914.0 1988
915.0 1988
916.0 1988
917.0 1988
918.0 1988
919.0 1988
920.0 1988
921.0 1988
922.0 1988
923.0 1988
924.0 1988
925.0 1988
926.0 1988
927.0 1988
928.0 1988
929.0 1988
930.0 1988
931.0 1988
932.0 1988
933.0 1988
934.0 1988
935.0 1988
936.0 1988
937.0 1988
938.0 1988
939.0 1988
940.0 1988
941.0 1988
942.0 1988
943.0 1988
944.0 1988
945.0 1988
946.0 1988
947.0 1988
948.0 1988
949.0 1988
950.0 1988
951.0 1988
952.0 1988
953.0 1988
954.0 1988
955.0 1988
956.0 1988
957.0 1988
958.0 1988
959.0 1988
960.0 1988
961.0 1988
962.0 1988
963.0 1988
964.0 1988
965.0 1988
966.0 1988
967.0 1988
968.0 1988
969.0 1988
970.0 1988
971.0 1988
972.0 1988
973.0 1988
974.0 1988
975.0 1988
976.0 1988
977.0 1988
978.0 1988
979.0 1988
980.0 1988
981.0 1988
982.0 1988
983.0 1988
984.0 1988
985.0 1988
986.0 1988
987.0 1988
988.0 1988
989.0 1988
990.0 1988
991.0 1988
992.0 1988
993.0 1988
994.0 1988
995.0 1988
996.0 1988
997.0 1988
998.0 1988
999.0 1988
1000.0 1988
1001.0 1988
1002.0 1988
1003.0 1988
1004.0 1988
1005.0 1988
1006.0 1988
1007.0 1988
1008.0 1988
1009.0 1988
1010.0 1988
1011.0 1988
1012.0 1988
1013.0 1988
1014.0 1988
1015.0 1988
1016.0 1988
1017.0 1988
1018.0 1988
1019.0 1988
1020.0 1988
1021.0 1988
1022.0 1988
1023.0 1988
1024.0 1988
1025.0 1988
1026.0 1988
1027.0 1988
1028.0 1988
1029.0 1988
1030.0 1988
1031.0 1988
1032.0 1988
1033.0 1988
1034.0 1988
1035.0 1988
1036.0 1988
1037.0 1988
1038.0 1988
1039.0 1988
1040.0 1988
1041.0 1988
1042.0 1988
1043.0 1988
1044.0 1988
1045.0 1988
1046.0 1988
1047.0 1988
1048.0 1988
1049.0 1988
1050.0 1988
1051.0 1988
1052.0 1988
1053.0 1988
1054.0 1988
1055.0 1988
1056.0 1988
1057.0 1988
1058.0 1988
1059.0 1988
1060.0 1988
1061.0 1988
1062.0 1988
1063.0 1988
1064.0 1988
1065.0 1988
1066.0 1988
1067.0 1988
1068.0 1988
1069.0 1988
1070.0 1988
1071.0 1988
1072.0 1988
1073.0 1988
1074.0 1988
1075.0 1988
1076.0 1988
1077.0 1988
1078.0 1988
1079.0 1988
1080.0 1988
1081.0 1988
1082.0 1988
1083.0 1988
1084.0 1988
1085.0 1988
1086.0 1988
1087.0 1988
1088.0 1988
1089.0 1988
1090.0 1988
1091.0 1988
1092.0 1988
1093.0 1988
1094.0 1988
1095.0 1988
1096.0 1988
1097.0 1988
1098.0 1988
1099.0 1988
1100.0 1988
1101.0 1988
1102.0 1988
1103.0 1988
1104.0 1988
1105.0 1988
1106.0 1988
1107.0 1988
1108.0 1988
1109.0 1988
1110.0 1988
1111.0 1988
1112.0 1988
1113.0 1988
1114.0 1988
1115.0 1988
1116.0 1988
1117.0 1988
1118.0 1988
1119.0 1988
1120.0 1988
1121.0 1988
1122.0 1988
1123.0 1988
1124.0 1988
1125.0 1988
1126.0 1988
1127.0 1988
1128.0 1988
1129.0 1988
1130.0 1988
1131.0 1988
1132.0 1988
1133.0 1988
1134.0 1988
1135.0 1988
1136.0 1988
1137.0 1988
1138.0 1988
1139.0 1988
1140.0 1988
1141.0 1988
1142.0 1988
1143.0 1988
1144.0 1988
1145.0 1988
1146.0 1988
1147.0 1988
1148.0 1988
1149.0 1988
1150.0 1988
1151.0 1988
1152.0 1988
1153.0 1988
1154.0 1988
1155.0 1988
1156.0 1988
1157.0 1988
1158.0 1988
1159.0 1988
1160.0 1988
1161.0 1988
1162.0 1988
1163.0 1988
1164.0 1988
1165.0 1988
1166.0 1988
1167.0 1988
1168.0 1988
1169.0 1988
1170.0 1988
1171.0 1988
1172.0 1988
1173.0 1988
1174.0 1988
1175.0 1988
1176.0 1988
1177.0 1988
1178.0 1988
1179.0 1988
1180.0 1988
1181.0 1988
1182.0 1988
1183.0 1988
1184.0 1988
1185.0 1988
1186.0 1988
1187.0 1988
1188.0 1988
1189.0 1988
1190.0 1988
1191.0 1988
1192.0 1988
1193.0 1988
1194.0 1988
1195.0 1988
1196.0 1988
1197.0 1988
1198.0 1988
1199.0 1988
1200.0 1988
1201.0 1988
1202.0 1988
1203.0 1988
1204.0 1988
1205.0 1988
1206.0 1988
1207.0 1988
1208.0 1988
1209.0 1988
1210.0 1988
1211.0 1988
1212.0 1988
1213.0 1988
1214.0 1988
1215.0 1988
1216.0 1988
1217.0 1988
1218.0 1988
1219.0 1988
1220.0 1988
1221.0 1988
1222.0 1988
1223.0 1988
1224.0 1988
1225.0 1988
1226.0 1988
1227.0 1988
1228.0 1988
1229.0 1988
1230.0 1988
1231.0 1988
1232.0 1988
1233.0 1988
1234.0 1988
1235.0 1988
1236.0 1988
1237.0 1988
1238.0 1988
1239.0 1988
1240.0 1988
1241.0 1988
1242.0 1988
1243.0 1988
1244.0 1988
1245.0 1988
1246.0 1988
1247.0 1988
1248.0 1988
1249.0 1988
1250.0 1988
1251.0 1988
1252.0 1988
1253.0 1988
1254.0 1988
1255.0 1988
1256.0 1988
1257.0 1988
1258.0 1988
1259.0 1988
1260.0 1988
1261.0 1988
1262.0 1988
1263.0 1988
1264.0 1988
1265.0 1988
1266.0 1988
1267.0 1988
1268.0 1988
1269.0 1988
1270.0 1988
1271.0 1988
1272.0 1988
1273.0 1988
1274.0 1988
1275.0 1988
1276.0 1988
1277.0 1988
1278.0 1988
1279.0 1988
1280.0 1988
1281.0 1988
1282.0 1988
1283.0 1988
1284.0 1988
1285.0 1988
1286.0 1988
1287.0 1988
1288.0 1988
1289.0 1988
1290.0 1988
1291.0 1988
1292.0 1988
1293.0 1988
1294.0 1988
1295.0 1988
1296.0 1988
1297.0 1988
1298.0 1988
1299.0 1988
1300.0 1988
1301.0 1988
1302.0 1988
1303.0 1988
1304.0 1988
1305.0 1988
1306.0 1988
1307.0 1988
1308.0 1988
1309.0 1988
1310.0 1988
1311.0 1988
1312.0 1988
1313.0 1988
1314.0 1988
1315.0 1988
1316.0 1988
1317.0 1988
1318.0 1988
1319.0 1988
1320.0 1988
1321.0 1988
1322.0 1988
1323.0 1988
1324.0 1988
1325.0 1988
1326.0 1988
1327.0 1988
1328.0 1988
1329.0 1988
1330.0 1988
1331.0 1988
1332.0 1988
1333.0 1988
1334.0 1988
1335.0 1988
1336.0 1988
1337.0 1988
1338.0 1988
1339.0 1988
1340.0 1988
1341.0 1988
1342.0 1988
1343.0 1988
1344.0 1988
1345.0 1988
1346.0 1988
1347.0 1988
1348.0 1988
1349.0 1988
1350.0 1988
1351.0 1988
1352.0 1988
1353.0 1988
1354.0 1988
1355.0 1988
1356.0 1988
1357.0 1988
1358.0 1988
1359.0 1988
1360.0 1988
1361.0 1988
1362.0 1988
1363.0 1988
1364.0 1988
1365.0 1988
1366.0 1988
1367.0 1988
1368.0 1988
1369.0 1988
1370.0 1988
1371.0 1988
1372.0 1988
1373.0 1988
1374.0 1988
1375.0 1988
1376.0 1988
1377.0 1988
1378.0 1988
1379.0 1988
1380.0 1988
1381.0 1988
1382.0 1988
1383.0 1988
1384.0 1988
1385.0 1988
1386.0 1988
1387.0 1988
1388.0 1988
1389.0 1988
1390.0 1988
1391.0 1988
1392.0 1988
1393.0 1988
1394.0 1988
1395.0 1988
1396.0 1988
1397.0 1988
1398.0 1988
1399.0 1988
1400.0 1988
1401.0 1988
1402.0 1988
1403.0 1988
1404.0 1988
1405.0 1988
1406.0 1988
1407.0 1988
1408.0 1988
1409.0 1988
1410.0 1988
1411.0 1988
1412.0 1988
1413.0 1988
1414.0 1988
1415.0 1988
1416.0 1988
1417.0 1988
1418.0 1988
1419.0 1988
1420.0 1988
1421.0 1988
1422.0 1988
1423.0 1988
1424.0 1988
1425.0 1988
1426.0 1988
1427.0 1988
1428.0 1988
1429.0 1988
1430.0 1988
1431.0 1988
1432.0 1988
1433.0 1988
1434.0 1988
1435.0 1988
1436.0 1988
1437.0 1988
1438.0 1988
1439.0 1988
1440.0 1988
1441.0 1988
1442.0 1988
1443.0 1988
1444.0 1988
1445.0 1988
1446.0 1988
1447.0 1988
1448.0 1988
1449.0 1988
1450.0 1988
1451.0 1988
1452.0 1988
1453.0 1988
1454.0 1988
1455.0 1988
1456.0 1988
1457.0 1988
1458.0 1988
1459.0 1988
1460.0 1988
1461.0 1988
1462.0 1988
1463.0 1988

1464.0 1988
1465.0 1988
1466.0 1988
1467.0 1988
1468.0 1988
1469.0 1988
1470.0 1988
1471.0 1988
1472.0 1988
1473.0 1988
1474.0 1988
1475.0 1988
1476.0 1988
1477.0 1988
1478.0 1988
1479.0 1988
1480.0 1988
1481.0 1988
1482.0 1988
1483.0 1988
1484.0 1988
1485.0 1988
1486.0 1988
1487.0 1988
1488.0 1988
1489.0 1988
1490.0 1988
1491.0 1988
1492.0 1988
1493.0 1988
1494.0 1988
1495.0 1988
1496.0 1988
1497.0 1988
1498.0 1988
1499.0 1988
1500.0 1988
1501.0 1988
1502.0 1988
1503.0 1988
1504.0 1988
1505.0 1988
1506.0 1988
1507.0 1988
1508.0 1988
1509.0 1988
1510.0 1988
1511.0 1988
1512.0 1988
1513.0 1988
1514.0 1988
1515.0 1988
1516.0 1988
1517.0 1988
1518.0 1988
1519.0 1988
1520.0 1988
1521.0 1988
1522.0 1988
1523.0 1988
1524.0 1988
1525.0 1988
1526.0 1988
1527.0 1988
1528.0 1988
1529.0 1988
1530.0 1988
1531.0 1988
1532.0 1988
1533.0 1988
1534.0 1988
1535.0 1988
1536.0 1988
1537.0 1988
1538.0 1988
1539.0 1988
1540.0 1988
1541.0 1988
1542.0 1988
1543.0 1988
1544.0 1988
1545.0 1988
1546.0 1988
1547.0 1988
1548.0 1988
1549.0 1988
1550.0 1988
1551.0 1988
1552.0 1988
1553.0 1988
1554.0 1988
1555.0 1988
1556.0 1988
1557.0 1988
1558.0 1988
1559.0 1988
1560.0 1988
1561.0 1988
1562.0 1988
1563.0 1988
1564.0 1988
1565.0 1988
1566.0 1988
1567.0 1988
1568.0 1988
1569.0 1988
1570.0 1988
1571.0 1988
1572.0 1988
1573.0 1988
1574.0 1988
1575.0 1988
1576.0 1988
1577.0 1988
1578.0 1988
1579.0 1988
1580.0 1988
1581.0 1988
1582.0 1988
1583.0 1988
1584.0 1988
1585.0 1988
1586.0 1988
1587.0 1988
1588.0 1988
1589.0 1988
1590.0 1988
1591.0 1988
1592.0 1988
1593.0 1988
1594.0 1988
1595.0 1988
1596.0 1988
1597.0 1988
1598.0 1988
1599.0 1988
1600.0 1988
1601.0 1988
1602.0 1988
1603.0 1988
1604.0 1988
1605.0 1988
1606.0 1988
1607.0 1988
1608.0 1988
1609.0 1988
1610.0 1988
1611.0 1988
1612.0 1988
1613.0 1988
1614.0 1988
1615.0 1988
1616.0 1988
1617.0 1988
1618.0 1988
1619.0 1988
1620.0 1988
1621.0 1988
1622.0 1988
1623.0 1988
1624.0 1988
1625.0 1988
1626.0 1988
1627.0 1988
1628.0 1988
1629.0 1988
1630.0 1988
1631.0 1988
1632.0 1988
1633.0 1988
1634.0 1988
1635.0 1988
1636.0 1988
1637.0 1988
1638.0 1988
1639.0 1988
1640.0 1988
1641.0 1988
1642.0 1988
1643.0 1988
1644.0 1988
1645.0 1988
1646.0 1988
1647.0 1988
1648.0 1988
1649.0 1988
1650.0 1988
1651.0 1988
1652.0 1988
1653.0 1988
1654.0 1988
1655.0 1988
1656.0 1988
1657.0 1988
1658.0 1988
1659.0 1988
1660.0 1988
1661.0 1988
1662.0 1988
1663.0 1988
1664.0 1988
1665.0 1988
1666.0 1988
1667.0 1988
1668.0 1988
1669.0 1988
1670.0 1988
1671.0 1988
1672.0 1988
1673.0 1988
1674.0 1988
1675.0 1988
1676.0 1988
1677.0 1988
1678.0 1988
1679.0 1988
1680.0 1988
1681.0 1988
1682.0 1988
1683.0 1988
1684.0 1988
1685.0 1988
1686.0 1988
1687.0 1988
1688.0 1988
1689.0 1988
1690.0 1988
1691.0 1988
1692.0 1988
1693.0 1988
1694.0 1988
1695.0 1988
1696.0 1988
1697.0 1988
1698.0 1988
1699.0 1988
1700.0 1988
1701.0 1988
1702.0 1988
1703.0 1988
1704.0 1988
1705.0 1988
1706.0 1988
1707.0 1988
1708.0 1988
1709.0 1988
1710.0 1988
1711.0 1988
1712.0 1988
1713.0 1988
1714.0 1988
1715.0 1988
1716.0 1988
1717.0 1988
1718.0 1988
1719.0 1988
1720.0 1988
1721.0 1988
1722.0 1988
1723.0 1988
1724.0 1988
1725.0 1988
1726.0 1988
1727.0 1988
1728.0 1988
1729.0 1988
1730.0 1988
1731.0 1988
1732.0 1988
1733.0 1988
1734.0 1988
1735.0 1988
1736.0 1988
1737.0 1988
1738.0 1988
1739.0 1988
1740.0 1988
1741.0 1988
1742.0 1988
1743.0 1988
1744.0 1988
1745.0 1988
1746.0 1988
1747.0 1988
1748.0 1988
1749.0 1988
1750.0 1988
1751.0 1988
1752.0 1988
1753.0 1988
1754.0 1988
1755.0 1988
1756.0 1988
1757.0 1988
1758.0 1988
1759.0 1988
1760.0 1988
1761.0 1988
1762.0 1988
1763.0 1988
1764.0 1988
1765.0 1988
1766.0 1988
1767.0 1988
1768.0 1988
1769.0 1988
1770.0 1988
1771.0 1988
1772.0 1988
1773.0 1988
1774.0 1988
1775.0 1988
1776.0 1988
1777.0 1988
1778.0 1988
1779.0 1988
1780.0 1988
1781.0 1988
1782.0 1988
1783.0 1988
1784.0 1988
1785.0 1988
1786.0 1988
1787.0 1988
1788.0 1988
1789.0 1988
1790.0 1988
1791.0 1988
1792.0 1988
1793.0 1988
1794.0 1988
1795.0 1988
1796.0 1988
1797.0 1988
1798.0 1988
1799.0 1988
1800.0 1988
1801.0 1988
1802.0 1988
1803.0 1988
1804.0 1988
1805.0 1988
1806.0 1988
1807.0 1988
1808.0 1988
1809.0 1988
1810.0 1988
1811.0 1988
1812.0 1988
1813.0 1988
1814.0 1988
1815.0 1988
1816.0 1988
1817.0 1988
1818.0 1988
1819.0 1988
1820.0 1988
1821.0 1988
1822.0 1988
1823.0 1988
1824.0 1988
1825.0 1988
1826.0 1988
1827.0 1988
1828.0 1988
1829.0 1988
1830.0 1988
1831.0 1988
1832.0 1988
1833.0 1988
1834.0 1988
1835.0 1988
1836.0 1988
1837.0 1988
1838.0 1988
1839.0 1988
1840.0 1988
1841.0 1988
1842.0 1988
1843.0 1988
1844.0 1988
1845.0 1988
1846.0 1988
1847.0 1988
1848.0 1988
1849.0 1988
1850.0 1988
1851.0 1988
1852.0 1988
1853.0 1988
1854.0 1988
1855.0 1988
1856.0 1988
1857.0 1988
1858.0 1988
1859.0 1988
1860.0 1988
1861.0 1988
1862.0 1988
1863.0 1988
1864.0 1988
1865.0 1988
1866.0 1988
1867.0 1988
1868.0 1988
1869.0 1988
1870.0 1988
1871.0 1988
1872.0 1988
1873.0 1988
1874.0 1988
1875.0 1988
1876.0 1988
1877.0 1988
1878.0 1988
1879.0 1988
1880.0 1988
1881.0 1988
1882.0 1988
1883.0 1988
1884.0 1988
1885.0 1988
1886.0 1988
1887.0 1988
1888.0 1988
1889.0 1988
1890.0 1988
1891.0 1988
1892.0 1988
1893.0 1988
1894.0 1988
1895.0 1988
1896.0 1988
1897.0 1988
1898.0 1988
1899.0 1988
1900.0 1988
1901.0 1988
1902.0 1988
1903.0 1988
1904.0 1988
1905.0 1988
1906.0 1988
1907.0 1988
1908.0 1988
1909.0 1988
1910.0 1988
1911.0 1988
1912.0 1988
1913.0 1988
1914.0 1988
1915.0 1988
1916.0 1988
1917.0 1988
1918.0 1988
1919.0 1988
1920.0 1988
1921.0 1988
1922.0 1988
1923.0 1988
1924.0 1988
1925.0 1988
1926.0 1988
1927.0 1988
1928.0 1988
1929.0 1988
1930.0 1988
1931.0 1988
1932.0 1988
1933.0 1988
1934.0 1988
1935.0 1988
1936.0 1988
1937.0 1988
1938.0 1988
1939.0 1988
1940.0 1988
1941.0 1988
1942.0 1988
1943.0 1988
1944.0 1988
1945.0 1988
1946.0 1988
1947.0 1988
1948.0 1988
1949.0 1988
1950.0 1988
1951.0 1988
1952.0 1988
1953.0 1988
1954.0 1988
1955.0 1988
1956.0 1988
1957.0 1988
1958.0 1988
1959.0 1988
1960.0 1988
1961.0 1988
1962.0 1988
1963.0 1988
1964.0 1988
1965.0 1988
1966.0 1988
1967.0 1988
1968.0 1988
1969.0 1988
1970.0 1988
1971.0 1988
1972.0 1988
1973.0 1988
1974.0 1988
1975.0 1988
1976.0 1988
1977.0 1988
1978.0 1988
1979.0 1988
1980.0 1988
1981.0 1988
1982.0 1988
1983.0 1988
1984.0 1988
1985.0 1988
1986.0 1988
1987.0 1988

In [379]:
df_outputs = pd.concat(df_outputs)
df_outputs = df_outputs.fillna(0.)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [383]:
superised_df2  = superised_df2.join(df_outputs)